Source: nuntium
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
 debhelper (>= 9),
 dh-golang,
 gccgo,
 gccgo-go,
 golang-go-dbus-dev,
 golang-go-xdg-dev,
 golang-gocheck-dev,
 golang-udm-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/nuntium
Vcs-Browser: http://bazaar.launchpad.net/~phablet-team/nuntium/trunk/files
Vcs-Bzr: lp:nuntium

Package: nuntium
Architecture: any
Depends: ofono, ubuntu-download-manager, ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Recommends: telepathy-ofono
Conflicts: mmsd
Description: Bridges push notifications from ofono to telepathy-ofono
 This component registers a push agent with ofono and handles the MMS workflow
 by bridging with telepathy-ofono

Package: nuntium-decode-cli
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Decode m-retrieve.conf messages
 Decodes and prints out decoding results to the

Package: golang-nuntium-mms-dev
Architecture: all
Depends: ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Go library for manipulating MMS
 This package handles MMS PDUs and has hooks for related actions in the MMS
 workflow

Package: golang-nuntium-ofono-dev
Architecture: all
Depends: ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Go library for interfacing with ofono
 Provides facilities to interface with ofono with regards to MMS through dbus

Package: golang-nuntium-telepathy-dev
Architecture: all
Depends: ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Go library for interfacing with telepathy-ofono
 Provides facilities to interface with telepathy ofono with regards to MMS
 through dbus
