#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS
export DH_GOPKG := launchpad.net/nuntium
export BUILDDIR := $(CURDIR)/obj-$(DEB_BUILD_GNU_TYPE)

%:
	dh $@ \
		--buildsystem=golang \
		--with=golang \
		--fail-missing \
		--builddirectory=$(BUILDDIR)

override_dh_auto_build:
	cd $(BUILDDIR); \
	export GOPATH=$(BUILDDIR); \
	go build -compiler=gccgo -v $(DH_GOPKG); \
	go build -compiler=gccgo -v $(DH_GOPKG)/mms/decode-cli;

override_dh_auto_test:
	cd $(BUILDDIR); \
	export GOPATH=$(BUILDDIR); \
	go test -compiler=gccgo -v $(DH_GOPKG)/...

override_dh_auto_install:
	mkdir -p ${CURDIR}/debian/tmp/usr/bin
	mv $(BUILDDIR)/decode-cli \
		${CURDIR}/debian/tmp/usr/bin/nuntium-decode-cli 
	mv $(BUILDDIR)/nuntium \
		${CURDIR}/debian/tmp/usr/bin/nuntium
	mkdir -p ${CURDIR}/usr/share/gocode/src/launchpad.net/nuntium
	cp -r ${CURDIR}/mms ${CURDIR}/ofono ${CURDIR}/telepathy \
		usr/share/gocode/src/launchpad.net/nuntium/
